<mat-card class="center-content">
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Rechercher un Sesamien</mat-label>
      <input
        matInput
        #searchBox
        (keyup)="search(searchBox.value)"
        placeholder="Rechercher un Sesamien"
      />
    </mat-form-field>
    <mat-list>
      <mat-list-item
        *ngFor="let sesamien of sesamien$ | async"
        (click)="goToDetail(sesamien)"
      >
        {{ sesamien.nom }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
