<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <!-- Search Component -->

  <div class="search-container">
    <app-search-sesamien></app-search-sesamien>
  </div>

  <!-- Sesamien Cards -->

  <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center start">
    <div *ngFor="let sesamien of sesamienList">
      <mat-card (click)="goToSesamien(sesamien)" sesamienBorderCard="green">
        <!-- Header with Image and General Info -->

        <mat-card-header class="horizontal-card">
          <div mat-card-avatar>
            <mat-icon *ngIf="!sesamien.image">account_circle</mat-icon>
            <img *ngIf="sesamien.image" [src]="sesamien.image" />
          </div>
          <div class="card-content">
            <mat-card-title>{{ sesamien.nom }}</mat-card-title>
            <div class="general-info">
              <p><strong>Nom:</strong> {{ sesamien.nom }}</p>
              <p><strong>Prénom usuel:</strong> {{ sesamien.prenomUsuel }}</p>
              <p><strong>Age:</strong> {{ sesamien.age }}</p>
              <p><strong>Mention:</strong> {{ sesamien.mention }}</p>
              <p><strong>Genre:</strong> {{ sesamien.genre }}</p>
              <p><strong>Promotion:</strong> {{ sesamien.promotion }}</p>
            </div>
          </div>
        </mat-card-header>

        <!-- Academic Info -->

        <mat-card-content>
          <div fxFlex="50%" class="academic-info">
            <p><strong>Résultat Semestre 1</strong></p>
            <p>
              <strong>Moyenne Générale:</strong> {{ sesamien.moyenneGenerale }}
            </p>
            <p><strong>Classement:</strong> {{ sesamien.classement }}</p>
          </div>
        </mat-card-content>

        <!-- État -->

        <mat-card-footer>
          <div class="etat" style="background-color: green">
            <strong>État:</strong> {{ sesamien.etat }}
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <mat-fab-button
    color="primary"
    class="floating-action-button"
    routerLink="/sesamien/add"
  >
    <mat-icon>add</mat-icon>
  </mat-fab-button>
</div>
<!--
<div class="container">
  <mat-card>
    <div class="zone">
      <img src="path_to_your_image" alt="Image" class="image" />
    </div>
    <div class="zone">Zone 1</div>
    skyp
  </mat-card>

  <mat-card>
    <div class="zone">Zone 1</div>
  </mat-card>
</div>
-->
