<div *ngIf="sesamien" class="row">
  <!-- Colonne principale centrée -->
  <div class="col s12 m8 offset-m2">
    <!-- En-tête affichant le nom du sesamien -->
    <h2 mat-header class="header center">{{ sesamien.nom }}</h2>

    <!-- Carte d'information principale -->
    <mat-card class="example-card">
      <!-- Section de l'image -->
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="sesamien.image"
          alt="Photo de {{ sesamien.nom }}"
        />
      </mat-card-header>

      <!-- Contenu de la carte -->
      <mat-card-content>
        <!-- Tableau des détails du sesamien -->
        <table mat-table class="bordered striped">
          <tbody>
            <!-- ... ajoutez les autres propriétés ici ... -->
            <tr>
              <td>Nom</td>
              <td>
                <mat-form-field *ngIf="isEditing">
                  <input matInput [(ngModel)]="sesamien.nom" />
                </mat-form-field>
                <strong *ngIf="!isEditing">{{ sesamien.nom }}</strong>
              </td>
            </tr>
            <tr>
              <td>Prénom usuel</td>
              <td>
                <mat-form-field *ngIf="isEditing">
                  <input matInput [(ngModel)]="sesamien.prenomUsuel" />
                </mat-form-field>
                <strong *ngIf="!isEditing">{{ sesamien.prenomUsuel }}</strong>
              </td>
            </tr>
            <!-- ... ajoutez les autres champs d'entrée ici ... -->
            <tr>
              <td>Mention</td>
              <td>
                <mat-form-field *ngIf="isEditing">
                  <mat-select [(ngModel)]="sesamien.mention">
                    <mat-option
                      *ngFor="let mention of mentionOptions"
                      [value]="mention"
                    >
                      {{ mention }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <strong *ngIf="!isEditing">{{ sesamien.mention }}</strong>
              </td>
            </tr>
            <tr>
              <td>Age</td>
              <td>
                <mat-form-field *ngIf="isEditing">
                  <input matInput [(ngModel)]="sesamien.age" />
                </mat-form-field>
                <strong *ngIf="!isEditing">{{ sesamien.age }}</strong>
              </td>
            </tr>
            <!-- ... code pour afficher les informations du semestre ici ... -->
            <tr>
              <td>Classement Semestre 1</td>
              <td>
                <strong>{{ sesamien.classement }}</strong>
              </td>
            </tr>
            <tr>
              <td>Moyenne Générale CC Semestre 1</td>
              <td>
                <strong>{{ sesamien.moyenneGeneraleCC }}</strong>
              </td>
            </tr>
            <!-- Répétez pour les autres informations du semestre -->
          </tbody>
        </table>
      </mat-card-content>

      <!-- Actions de la carte -->
      <mat-card-actions>
        <button mat-button (click)="goToSesamienList()">Retour</button>
        <button mat-button (click)="goToEditSesamien(sesamien)">Editer</button>
        <button mat-button (click)="deleteSesamien(sesamien)">Supprimer</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
