<div *ngIf="sesamien" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ sesamien.nom }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="sesamien.image" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td>
                  <strong>{{ sesamien.nom }}</strong>
                </td>
              </tr>
              <tr>
                <td>Prénom usuel</td>
                <td>
                  <strong>{{ sesamien.prenomUsuel }}</strong>
                </td>
              </tr>
              <tr>
                <td>Mention</td>
                <td>
                  {{ sesamien.mention }}
                </td>
              </tr>
              <tr>
                <td>Age</td>
                <td>
                  <strong>{{ sesamien.age }}</strong>
                </td>
              </tr>
              <tr>
                <td>Promotion</td>
                <td>
                  <strong>{{ sesamien.promotion }}</strong>
                </td>
              </tr>
              <tr>
                <td>Région d'origine</td>
                <td>
                  <strong>{{ sesamien.regionOrigine }}</strong>
                </td>
              </tr>
              <tr>
                <td>Genre</td>
                <td>
                  <strong>{{ sesamien.genre }}</strong>
                </td>
              </tr>
              <tr>
                <td>Classement</td>
                <td>
                  <strong>{{ sesamien.classement }}</strong>
                </td>
              </tr>
              <tr>
                <td>Moyenne Générale CC</td>
                <td>
                  <strong>{{ sesamien.moyenneGeneraleCC }}</strong>
                </td>
              </tr>
              <tr>
                <td>Moyenne Générale CT</td>
                <td>
                  <strong>{{ sesamien.moyenneGeneraleCT }}</strong>
                </td>
              </tr>
              <tr>
                <td>Moyenne Générale (CC et CT)</td>
                <td>
                  <strong>{{ sesamien.moyenneGenerale }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goToSesamienList()">Retour</a>
          <a (click)="goToEditSesamien(sesamien)">Editer</a>
          <a (click)="deleteSesamien(sesamien)">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
