<!-- Main container for the form with flex layout -->
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="16px"
  class="app-sesamien-form"
>
  <!-- Card container for the sesamien form -->
  <mat-card *ngIf="sesamien">
    <!-- Form definition -->
    <form (ngSubmit)="onSubmit()" #sesamienForm="ngForm">
      <!-- Field for Sesamien name -->
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input
          matInput
          type="text"
          id="nom"
          required
          [(ngModel)]="sesamien.nom"
          name="nom"
          #name="ngModel"
        />
        <mat-error *ngIf="!name.valid && !name.pristine"
          >Le nom du Sésamien est requis.</mat-error
        >
      </mat-form-field>

      <!-- Field for Sesamien pronoms -->
      <mat-form-field appearance="fill">
        <mat-label>Prénoms</mat-label>
        <input
          matInput
          type="text"
          id="prenoms"
          required
          [(ngModel)]="sesamien.prenoms"
          name="prenoms"
        />
      </mat-form-field>

      <!-- Field for Sesamien prenomUsuel -->
      <mat-form-field appearance="fill">
        <mat-label>Prénom usuel</mat-label>
        <input
          matInput
          type="text"
          id="prenomUsuel"
          required
          [(ngModel)]="sesamien.prenomUsuel"
          name="prenomUsuel"
        />
      </mat-form-field>

      <!-- Dropdown  for Sesamien mention -->
      <mat-form-field appearance="fill">
        <mat-label>Mention</mat-label>
        <mat-select [(ngModel)]="sesamien.mention" name="mention">
          <mat-option
            *ngFor="let mention of Object.values(Mention)"
            [value]="mention"
          >
            {{ mention }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Dropdown  for Sesamien genre -->
      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <mat-select [(ngModel)]="sesamien.genre" name="genre">
          <mat-option
            *ngFor="let genre of Object.values(Genre)"
            [value]="genre"
          >
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Dropdown  for Sesamien regionOrigine -->
      <mat-form-field appearance="fill">
        <mat-label>Région d'origine</mat-label>
        <mat-select [(ngModel)]="sesamien.regionOrigine" name="regionOrigine">
          <mat-option
            *ngFor="let region of Object.values(RegionOrigine)"
            [value]="region"
          >
            {{ region }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Field for Sesamien age -->
      <mat-form-field appearance="fill">
        <mat-label>Âge</mat-label>
        <input
          matInput
          type="number"
          id="age"
          required
          [(ngModel)]="sesamien.age"
          name="age"
        />
      </mat-form-field>

      <!--  Field forSesamien image -->
      <mat-form-field appearance="fill">
        <mat-label>Image de profil (URL)</mat-label>
        <input
          matInput
          type="text"
          id="image"
          required
          [(ngModel)]="sesamien.image"
          name="image"
        />
      </mat-form-field>

      <!-- Field for Sesamien promotion -->
      <mat-form-field appearance="fill">
        <mat-label>Promotion</mat-label>
        <input
          matInput
          type="number"
          id="promotion"
          required
          [(ngModel)]="sesamien.promotion"
          name="promotion"
          value="24"
        />
      </mat-form-field>
      <!-- Display value of promotion for debugging or user information -->
      <p>Value of promotion: {{ sesamien.promotion }}</p>

      <!-- Submit button -->
      <div class="submit-section">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!sesamienForm.form.valid"
        >
          Valider
        </button>
      </div>
    </form>
  </mat-card>
</div>
