<form *ngIf="sesamien" (ngSubmit)="onSubmit()" #sesamienForm="ngForm">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">
        <!-- Sesamien name -->
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            required
            [(ngModel)]="sesamien.nom"
            name="nom"
            #name="ngModel"
          />
          <div
            [hidden]="name.valid || name.pristine"
            class="card-panel red accent-1"
          >
            Le nom du Sésamien est requis.
          </div>
        </div>

        <!-- Sesamien prenoms -->
        <div class="form-group">
          <label for="prenoms">Prénoms</label>
          <input
            type="text"
            class="form-control"
            id="prenoms"
            required
            [(ngModel)]="sesamien.prenoms"
            name="prenoms"
            #prenoms="ngModel"
          />
        </div>

        <!-- Sesamien prenomUsuel -->
        <div class="form-group">
          <label for="prenomUsuel">Prénom usuel</label>
          <input
            type="text"
            class="form-control"
            id="prenomUsuel"
            required
            [(ngModel)]="sesamien.prenomUsuel"
            name="prenomUsuel"
            #prenomUsuel="ngModel"
          />
        </div>

        <!-- Sesamien mention -->
        <div class="form-group">
          <label for="mention">Mention</label>
          <input
            class="form-control"
            id="mention"
            required
            [(ngModel)]="sesamien.mention"
            name="mention"
            #mention="ngModel"
          />
        </div>

        <!-- Sesamien genre -->
        <div class="form-group">
          <label for="genre">Genre</label>
          <input
            class="form-control"
            id="genre"
            required
            [(ngModel)]="sesamien.genre"
            name="genre"
            #genre="ngModel"
          />
          <option [ngValue]="genre" *ngFor="let genre of Object.values(Genre)">
            {{ genre }}
          </option>
        </div>

        <!-- Sesamien regionOrigine -->
        <div class="form-group">
          <label for="regionOrigine">Région d'origine</label>
          <input
            class="form-control"
            id="regionOrigine"
            required
            [(ngModel)]="sesamien.regionOrigine"
            name="regionOrigine"
            #regionOrigine="ngModel"
          />
          <option
            [ngValue]="region"
            *ngFor="let region of Object.values(RegionOrigine)"
          >
            {{ region }}
          </option>
        </div>

        <!-- Sesamien age -->
        <div class="form-group">
          <label for="age">Âge</label>
          <input
            type="number"
            class="form-control"
            id="age"
            required
            [(ngModel)]="sesamien.age"
            name="age"
            #age="ngModel"
          />
        </div>

        <!-- Sesamien classement -->
        <div class="form-group">
          <label for="classement">Classement</label>
          <input
            type="number"
            class="form-control"
            id="classement"
            required
            [(ngModel)]="sesamien.classement"
            name="classement"
            #classement="ngModel"
          />
        </div>

        <!-- Sesamien image -->
        <div class="form-group">
          <label for="image">Image de profil (URL)</label>
          <input
            type="text"
            class="form-control"
            id="image"
            required
            [(ngModel)]="sesamien.image"
            name="image"
            #image="ngModel"
          />
        </div>

        <!-- Sesamien promotion -->
        <div class="form-group">
          <label for="promotion">Promotion</label>
          <input
            type="number"
            class="form-control"
            id="promotion"
            required
            [(ngModel)]="sesamien.promotion"
            name="promotion"
            #promotion="ngModel"
            value="24"
          />
          <p>Value of promotion: {{ sesamien.promotion }}</p>
        </div>

        <!-- Submit button -->
        <div class="divider"></div>
        <div class="section center">
          <button
            type="submit"
            class="waves-effect waves-light btn"
            [disabled]="!sesamienForm.form.valid"
          >
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
